Repository Coookei/Mistral-Eval-Studio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{js,jsx,ts,tsx,css,json,md,yml,yaml}": "prettier --write"
}

ci: add GitHub Actions pipeline and update scripts
  .github/workflows/ci.yml
  .husky/pre-commit
  package.json
Due: prettier --write

docs: update README with setup, scripts, and CI details
  README.md
Due: prettier --write

ci: use default pnpm version in workflow
  .github/workflows/ci.yml
Due: prettier --write

feat(db): set up Prisma
  .gitignore
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  prisma.config.ts
  prisma/migrations/20260116151542_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  src/app/(public)/page.tsx
  src/lib/prisma.ts
Due: eslint --fix, prettier --write

feat(db): add environment configuration and database migration scripts
  .env.example
  .env.test.example
  package.json
  tsconfig.json
Due: prettier --write

docs: update README with environment variables and migration scripts
  README.md
Due: prettier --write

ci: set up Postgres service and Prisma migrations in CI
  .github/workflows/ci.yml
Due: prettier --write

chore: add commitlint configuration and hook
  .husky/commit-msg
  commitlint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs: update README to include Commitlint and CI PostgreSQL service
  README.md
Due: prettier --write

feat(auth): set up BetterAuth with Prisma models and migrations
  .env.example
  .env.test.example
  package.json
  prisma/migrations/20260116151542_init/migration.sql
  prisma/migrations/20260118180842_init/migration.sql
  prisma/schema.prisma
  src/app/api/auth/[...all]/route.ts
  src/lib/auth.ts
  src/lib/authClient.ts
  src/lib/getSession.ts
Due: eslint --fix, prettier --write

feat(email): set up Resend email configuration
  .env.example
  package.json
  src/lib/email.ts
Due: eslint --fix, prettier --write

perf(auth): add caching to getSession
  src/lib/getSession.ts
Due: eslint --fix, prettier --write

feat: add shadcn UI components and form validation with react-hook-form and zod
  package.json
  pnpm-lock.yaml
  src/components/ui/avatar.tsx
  src/components/ui/badge.tsx
  src/components/ui/card.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/form.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/sonner.tsx
Due: eslint --fix, prettier --write

feat: set up sonner toast notifications
  src/app/layout.tsx
Due: eslint --fix, prettier --write

feat(auth): implement sign-in and sign-up with full validation
  src/app/(auth)/sign-in/SignInForm.tsx
  src/app/(auth)/sign-in/page.tsx
  src/app/(auth)/sign-up/SignUpForm.tsx
  src/app/(auth)/sign-up/page.tsx
  src/components/auth/GoogleIcon.tsx
  src/components/auth/PasswordInput.tsx
  src/lib/authClient.ts
  src/lib/validators/auth.ts
  src/lib/validators/index.ts
Due: eslint --fix, prettier --write

feat(dashboard): add authenticated dashboard with email verification reminder
  src/app/(protected)/dashboard/page.tsx
  src/components/auth/AuthButtons.tsx
  src/components/auth/UserButton.tsx
  src/components/auth/UserDropdown.tsx
  src/components/layout/EmailVerificationBanner.tsx
Due: eslint --fix, prettier --write

feat(admin): add example authorised admin page with protected action
  next.config.ts
  src/app/(protected)/admin/ListUsers.tsx
  src/app/(protected)/admin/actions.ts
  src/app/(protected)/admin/page.tsx
Due: eslint --fix, prettier --write

feat(auth): add email verification flow with email sending
  src/app/(auth)/email-verified/EmailVerifiedComponent.tsx
  src/app/(auth)/email-verified/page.tsx
  src/app/(auth)/verify-email/VerifyEmailComponent.tsx
  src/app/(auth)/verify-email/page.tsx
  src/lib/auth.ts
Due: eslint --fix, prettier --write

feat(auth): add forgotten password flow with email sending
  src/app/(auth)/forgot-password/ForgotPasswordForm.tsx
  src/app/(auth)/forgot-password/page.tsx
  src/app/(auth)/reset-password/ResetPasswordForm.tsx
  src/app/(auth)/reset-password/page.tsx
  src/lib/auth.ts
  src/lib/validators/auth.ts
Due: eslint --fix, prettier --write

feat(auth): add Google and GitHub login
  .env.example
  src/lib/auth.ts
Due: eslint --fix, prettier --write

feat(auth): enforce server-side password verification in auth hook
  src/lib/auth.ts
Due: eslint --fix, prettier --write

feat: allow remote images from Google and GitHub in Next.js
  next.config.ts
Due: eslint --fix, prettier --write

feat(landing): add placeholder page
  src/app/(public)/page.tsx
Due: eslint --fix, prettier --write

feat(auth): add auth guard helpers with redirect-back after sign-in
  src/app/(auth)/forgot-password/page.tsx
  src/app/(auth)/reset-password/page.tsx
  src/app/(auth)/sign-in/SignInForm.tsx
  src/app/(auth)/sign-in/page.tsx
  src/app/(auth)/sign-up/page.tsx
  src/app/(auth)/verify-email/page.tsx
  src/app/(protected)/admin/page.tsx
  src/app/(protected)/dashboard/page.tsx
  src/lib/requireAuth.ts
  src/proxy.ts
Due: eslint --fix, prettier --write

feat(auth): persist lastLoginMethod on User model
  prisma/migrations/20260121112559_user_last_login_method/migration.sql
  prisma/schema.prisma
  src/lib/auth.ts
Due: eslint --fix, prettier --write

fix(auth): correct OAuth redirect after login
  src/app/(auth)/sign-in/SignInForm.tsx
Due: eslint --fix, prettier --write

feat(account): add account page with name and profile picture editing
  src/app/(protected)/account/AccountPageComponent.tsx
  src/app/(protected)/account/ProfileSettingsCard.tsx
  src/app/(protected)/account/page.tsx
  src/components/auth/UserDropdown.tsx
  src/lib/utils.ts
  src/lib/validators/account.ts
  src/lib/validators/index.ts
Due: eslint --fix, prettier --write

feat(account): add email change flow with verification emails
  src/app/(protected)/account/AccountPageComponent.tsx
  src/app/(protected)/account/EmailSettingsCard.tsx
  src/lib/auth.ts
  src/lib/validators/account.ts
Due: eslint --fix, prettier --write

feat(account): add change password functionality
  src/app/(protected)/account/AccountPageComponent.tsx
  src/app/(protected)/account/PasswordSettingsCard.tsx
  src/lib/validators/auth.ts
Due: eslint --fix, prettier --write

feat(account): add security section with sign out and session revocation
  package.json
  pnpm-lock.yaml
  src/app/(protected)/account/AccountPageComponent.tsx
  src/app/(protected)/account/SecuritySettingsCard.tsx
  src/components/ui/alert-dialog.tsx
  src/components/ui/separator.tsx
Due: eslint --fix, prettier --write

docs: update README with tech stack and setup instructions
  README.md
Due: prettier --write

docs: add provider setup links to .env.example
  .env.example
Due: none

feat(account): show linked password and oauth accounts with link/unlink actions
  src/app/(protected)/account/AccountPageComponent.tsx
  src/app/(protected)/account/LinkedAccountsCard.tsx
  src/lib/auth.ts
  src/lib/utils.ts
Due: eslint --fix, prettier --write

feat(auth): enable password reset flow for users without a set password
  src/app/(auth)/forgot-password/page.tsx
  src/app/(auth)/reset-password/page.tsx
Due: eslint --fix, prettier --write

feat(account): add active sessions and device list with session revocation
  src/app/(protected)/account/SecuritySettingsCard.tsx
  src/lib/utils.ts
Due: eslint --fix, prettier --write

docs: enhance README with authentication and account management features
  README.md
Due: prettier --write

fix(email): make email sender CI-safe
  src/lib/email.ts
Due: eslint --fix, prettier --write

fix(email-verified): fix prerender error from useSearchParams
  src/app/(auth)/email-verified/EmailVerifiedComponent.tsx
  src/app/(auth)/email-verified/page.tsx
Due: eslint --fix, prettier --write

ci: set BETTER_AUTH_SECRET for CI environment
  .github/workflows/ci.yml
Due: prettier --write

fix: update countdown message to handle singular and plural seconds
  src/app/(auth)/email-verified/EmailVerifiedComponent.tsx
  src/app/(auth)/reset-password/ResetPasswordForm.tsx
Due: eslint --fix, prettier --write
